{% extends 'base.html' %}

{% block style %}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contentBox {
  display: flex;
  flex-direction: column;
  width: 680px;
  margin: 0 auto;
  margin-top: 30px;
}

.emoticonBox {
  display: flex;
  flex-direction: column;
  border: 1px solid #DBDBDB;
  padding: 10px;
}

.emoticon {
  display: flex;
  flex-direction: row;
}

.reviewBox {
  overflow: hidden;
  overflow-wrap: break-word;
  height: 240px;
}

.EmoticonPicker__Label {
  color: #888888;
}
.EmoticonPicker__Icon {
  font-size: 36px;
  margin: 8px;
  color: #888888;
}
.form-check-input {
  display: none;
}

.buttonBox {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.resetButton {
  min-width: 140px;
  min-height: 50px;
  margin-right: 16px;
  padding-left: 14px;
  padding-right: 14px;
  border: 1px solid #7F7F7F;
  border-radius: 50px;
  font-size: 16px;
  color: #7F7F7F;
  text-align: center;
  background-color: #FFFFFF;
}

.submitButton {
  min-width: 140px;
  min-height: 50px;
  padding-left: 14px;
  padding-right: 14px;
  border: 1px solid #E9E9E9;
  border-radius: 50px;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  background-color: #E9E9E9;
}
.submitButton.active {
  min-width: 140px;
  min-height: 50px;
  padding-left: 14px;
  padding-right: 14px;
  border: 1px solid #E9E9E9;
  border-radius: 50px;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  background-color: #ff7100;
}

{% comment %} 제출하기 버튼 활성화 오렌지 색 #ff7100; {% endcomment %}

.titleBox {
  display: flex;
  align-items: baseline;
}

.spotTitle {
  white-space: nowrap;
  display: inline-block;
  margin-right: 5px;
  font-size: 28px;
  color: #FF792A;
}

.spotSubtitle {
  display: inline-block;
  font-size: 16px;
  color: #7F7F7F;
}

{% endblock style %}

{% block content %}
<!-- 이모티콘 link -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<section class='contentBox'>
  <!-- 제목 -->
  <div class="titleBox">
    <p class="spotTitle">{{ spot.title }}</p><p class="spotSubtitle">에 대한 솔직한 리뷰를 작성해주세요.</p>
  </div>

  <!-- 이모티콘 -->
  <div class="emoticonBox">
    <div class="emoticon">
      {% for emotion in emotions %}
      <span>
        {% if request.user.is_authenticated %}
        {{emotion.queryset}}
        <form action="{% url 'spots:emotes' spot.pk emotion.value %}" method="POST" class="emote-form">
          {% csrf_token %}
          {% if emotion.exist %}
          <div class="d-inline-block mx-2">
          <input type="submit" value="{{emotion.label}} 취소">
          {{ emotion.label }}
          </div>
          {% else %}
          <div class="d-inline-block mx-2"> 
          <input type="submit" value="{{emotion.label}}">
          {{ emotion.label }}
          </div>
          {% endif %}
        </form>
        {% else %}
        <button disabled="disabled">{{emotion.label}}</button>
        {% endif %}
      </span>
      {% endfor %}
    </div>
    <!-- 댓글 작성 폼 -->
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="buttonBox">
        <button type="reset" class="resetButton">취소하기</button>
        <button type="submit" class="submitButton">작성하기</button>
      </div>
    </form>
  </div>
  
</section>

  <!-- 댓글 작성 JS -->
  <script>
    const submitButton = document.querySelector('.submitButton');
    const contentField = document.querySelector('#id_content');

    contentField.addEventListener('input', () => {
      if (contentField.value.length > 0) {
        submitButton.classList.add('active');
        submitButton.disabled = false;
      } else {
        submitButton.classList.remove('active');
        submitButton.disabled = true;
      }
    });
  </script>

  <!-- 이모션 JS -->
  <script>
    const emoteForms = document.querySelectorAll('.emote-form');
    emoteForms.forEach(form => {
      form.addEventListener('submit', (event) => {
        event.preventDefault(); // 기본 submit 동작 막기
        const xhr = new XMLHttpRequest(); // Ajax 요청을 보내기 위한 객체 생성
        xhr.open('POST', form.action, true); // POST 방식으로 요청 보내기
        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}'); // CSRF 토큰 설정
        xhr.onreadystatechange = function () { // 응답 상태 변경 이벤트 리스너
          if (xhr.readyState === 4 && xhr.status === 200) { // 요청이 완료되고 성공적으로 처리됨
            // 이모티콘 취소/선택 버튼 업데이트
            const submitButton = form.querySelector('input[type=submit]');
            if (submitButton.value.endsWith('취소')) {
              submitButton.value = submitButton.value.slice(0, -3);
            } else {
              submitButton.value += ' 취소';
            }
          }
        };
        xhr.send(new FormData(form)); // 요청 보내기
      });
    });
  </script>

{% endblock %}