{% extends "base.html" %}
{% load static %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

{% block style %}

.wrap {position: absolute;left: 0;bottom: 40px;width: 288px;height: 132px;margin-left: -144px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
    .wrap * {padding: 0;margin: 0;}
    .wrap .info {width: 286px;height: 120px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
    .wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
    .info .title {padding: 5px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
    .info .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
    .info .close:hover {cursor: pointer;}
    .info .body {position: relative;overflow: hidden;}
    .info .desc {position: relative;margin: 13px 0 0 90px;height: 75px;}
    .desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
    .desc .jibun {font-size: 11px;color: #888;margin-top: -2px;}
    .info .img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: hidden;}
    .info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
    .info .link {color: #5085BB;}
.EmoticonPicker__Icon {
  font-size: 44px;
  margin: 8px;
  color: #ff9008;
}
.Icon {
  font-size: 32px;
  
}
.Icon2 {
  font-size: 32px;
  color: #959595;
}
.Icon:hover .fas {
  color: #ff9008;
}
.size {
  object-fit: cover;
  width: 430px;
  height: 300px;
}
.review-write-link:hover .review-write-text,
.review-write-link:hover .review-write-icon {
  color: #ff9008;
}
.review-write-link {
  color: #959595;
  text-decoration: none;
}
.review-write-text {
  color: #959595;
}
.like-spot-icon {
  color: #959595;
}

.like-spot:hover .like-spot-icon,
.like-spot-icon.active {
  color: #ff9008;
}

.like-spot-text {
  color: #959595;
}

.like-spot:hover .like-spot-text,
.like-spot-text.active {
  color: #ff9008;
}
none-margin-bottom{
  margin-bottom: 0px;
}

.image-container {
  display: flex;
  overflow-x: scroll;
  gap: 16px;
  width: 100%;
  height: 400px; /* 이미지가 가로 방향으로 스크롤되는 부모 요소의 높이를 지정합니다 */
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  font-size: 3em;
}

.scroll-left {
  left: 0;
}

.scroll-right {
  right: 0;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.text {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: 200px;
}

.removeButton{
  color: black;
}

.removeButton:hover {
  color: black;
}
.fixed-width-img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

{% endblock style %}

{% block content %}
<!-- 이모티콘 link -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<div style="position: relative;">
  <div class="image-container" id="imageContainer">
    {% if image_exists %}
      {% for comment in comments %}
        {% for image in comment.images.all %}
        <div>
          <div class="">
            <img src="{{ image.image.url }}" class="fixed-width-img" alt="Comment image">
          </div>
        </div>
        {% endfor %}
      {% endfor %}
      <i class="fas fa-chevron-left scroll-button scroll-left" onclick="scrollImageContainer(-1)"></i>
      <i class="fas fa-chevron-right scroll-button scroll-right" onclick="scrollImageContainer(1)"></i>
    {% else %}
      <div class="container">
        <img src="{% static 'headerimg.jpg' %}" alt="Header image" class="background-image">
        <h3 class="text" style="color: white;">이미지가 없습니다. 리뷰를 작성하고 사진을 올려주세요!</h3>
      </div>
    {% endif %}
  </div>
</div>

<script>
  const scrollAmount = 410;

  function scrollImageContainer(direction) {
    const imageContainer = document.getElementById('imageContainer');
    imageContainer.scrollLeft += scrollAmount * direction;
  }
</script>

<section class='container' style='max-width: 800px;'>
  <div class='d-flex justify-content-between mt-5'>
    <h3>{{spot.title}} <span style="color: #FF792A;">{{ average_rating }}</span></h3>
    <div class='d-grid gap-2 d-md-flex justify-content-md-end align-items-center'>
      {% if spot.user == user %}
        <a href="{% url 'spots:update_spot' spot.pk %}" class="btn btn-primary me-2 custom-button">
          <span>수정</span>
        </a>
        <form action="{% url 'spots:delete' spot.pk %}" method="POST" class="d-inline-block">
          {% csrf_token %}
          <input type="submit" value="삭제" class="btn btn-danger custom-button">
        </form>
      {% else %}
      {% endif %}
    
        <div class="d-flex flex-column align-items-center text-center review-write">
          <a href="{% url 'spots:comment_create' spot_pk=spot.pk %}" role="button" class="review-write-link" onclick="event.preventDefault(); writeReview(this);">
            <i class="fas fa-pencil-alt Icon review-write-icon custom-button mt-2 mn-n2"></i>
            <p class="mb-0 review-write-text">리뷰쓰기</p>
          </a>
        </div>
        
        <form class="like-form" method="POST" action="{% url 'spots:likes' spot.pk %}">
        <form action="{% url 'spots:likes' spot.pk %}" method="POST">
          {% csrf_token %}
          <div class="d-flex flex-column align-items-center like-spot">
            <button type="submit" class="btn btn-link p-0 Icon custom-button">
              <i class="fas fa-star like-spot-icon {% if request.user in spot.like_users.all %}active{% endif %}"></i>
            </button>
            <p class="mt-2 mb-0 like-spot-text {% if request.user in spot.like_users.all %}active{% endif %}">가고싶다</p>
          </div>
        </form>
        
      </div>
    </div>
    
    <hr>
    <p style="color: #959595;">{{ spot.content }}</p>
    <p style="color: #959595;">주소: {{ spot.address }}</p>
    <p style="color: #959595;">카테고리: {{ spot.category }}</p>
    <p style="color: #959595;">가격대: {{ spot.price_range }}</p>
    <p style="color: #959595;">주차: {% if spot.parking %} 가능 {% else %} 불가능 {% endif %}</p>
    {% if spot.website %}
    <p style="color: #959595;">웹사이트: <a href="{{ spot.website }}" style="color: black;">여행지 홈페이지로 가기</a></p>
    {% endif %}
    <div id="map" style="width:100%;height:350px;"></div>
    <hr>

    <p style="display: flex; justify-content: space-between; align-items: center;">리뷰 ({{ comment_count }}) 
      <span style="margin-left: auto;">
        전체 ({{ comment_count }}) |
        좋아요: ({{ like_count }}) |
        싫어요: ({{ dislike_count }}) |
        보통: ({{ soso_count }})
      </span>
    </p>


    {% for comment in comments %}
    <div class="row mt-4">
      <div class="col-2" style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
        <a href="{% url 'accounts:profile' comment.user %}">
          <button type="button" style="width: 70px; height: 70px; padding: 0; box-sizing: border-box;" class="btn btn-lg rounded-circle me-2">
            <img class="rounded-circle" style="width: 100%; height: 100%; object-fit: cover; display: block; margin: auto;" src="{% if comment.user.image %}{{ comment.user.image.url }}{% else %}{% static 'not-found-user.png' %}{% endif %}" alt="Profile Image">
          </button>
          <p>{{ comment.user }}</p>
        </a>
      </div>

    <div class="col-8">
      <p style="color: #959595;">{{ comment.created_at|date:"Y-m-d" }}</p>
      <p>{{comment.content}}</p>
    </div>
    <div class="col-2">
      <div class="comment">
        {% if comment.vote == "5.0" %}
        <div class="d-flex flex-column align-items-center">
          <i class="far fa-laugh-squint EmoticonPicker__Icon EmoticonPicker__Icon--Positive"></i>
          <p class="mb-0" style="color: #ff9008;">좋았다</p>
        </div>
        {% elif comment.vote == "3.0" %}
        <div class="d-flex flex-column align-items-center">
          <i class="far fa-meh EmoticonPicker__Icon EmoticonPicker__Icon--Neutral"></i>
          <p class="mb-0" style="color: #ff9008;">괜찮다</p>
        </div>
        {% elif comment.vote == "1.0" %}
        <div class="d-flex flex-column align-items-center">
          <i class="far fa-frown EmoticonPicker__Icon EmoticonPicker__Icon--Negative"></i>
          <p class="mb-0" style="color: #ff9008;">나쁘다</p>
        </div>
        {% endif %}
      </div>
      {% if comment.user == user %}
      <div class="d-flex justify-content-end">
        <form action="{% url 'spots:comment_delete' spot.pk comment.pk %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="removeButton btn btn-link p-0">
            <i class="fas fa-eraser"></i>
          </button>
        </form>
      </div>
    {% endif %}
    </div>
</div>
  <hr>
  <form action=""></form>

  {% endfor %}
    </section>
    
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{ kakao_script_key }}&libraries=services"></script>
    <script>
      const latitude = {{ latitude }};
      const longitude = {{ longitude }};
      const container = document.getElementById('map');
      const options = {
          center: new kakao.maps.LatLng(latitude, longitude),
          level: 3
      };
      const map = new kakao.maps.Map(container, options);
      const markerPosition = new kakao.maps.LatLng(latitude, longitude);
      const marker = new kakao.maps.Marker({
          position: markerPosition
      });
      marker.setMap(map);
    
    
    $(document).ready(function() {
      // When the like-form is submitted
      $('.like-form').submit(function(event) {
        // Prevent the form from submitting through HTTP
        event.preventDefault();
    
        // Get the form action and method
        var url = $(this).attr('action');
        var method = $(this).attr('method');
    
        // Send an AJAX request
        $.ajax({
          url: url,
          method: method,
          data: $(this).serialize(),  // Serialize the form data
          success: function(response) {
            // Update the like button icon and text
            var icon = $('.like-spot-icon', $(event.target));
            var text = $('.like-spot-text', $(event.target));
            if (icon.hasClass('active')) {
              icon.removeClass('active');
              text.removeClass('active');
            } else {
              icon.addClass('active');
              text.addClass('active');
            }
          },
          error: function(xhr, status, error) {
            // Handle the error
            console.error(xhr.responseText);
          }
        });
      });
    });
  </script>
{% endblock content %}
      