{% extends "base.html" %}
{% load static %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

{% block style %}
.EmoticonPicker__Icon {
  font-size: 44px;
  margin: 8px;
  color: #ff9008;
}
.Icon {
  font-size: 32px;
  
}
.Icon2 {
  font-size: 32px;
  color: #959595;
}
.Icon:hover .fas {
  color: #ff9008;
}
.size {
  object-fit: cover;
  width: 430px;
  height: 300px;
}
.review-write-link:hover .review-write-text,
.review-write-link:hover .review-write-icon {
  color: #ff9008;
}
.review-write-link {
  color: #959595;
  text-decoration: none;
}
.review-write-text {
  color: #959595;
}
.like-spot-icon {
  color: #959595;
}

.like-spot:hover .like-spot-icon,
.like-spot-icon.active {
  color: #ff9008;
}

.like-spot-text {
  color: #959595;
}

.like-spot:hover .like-spot-text,
.like-spot-text.active {
  color: #ff9008;
}
.custom-button {
  height: 38px;
}
none-margin-bottom{
  margin-bottom: 0px;
}

.image-container {
  display: flex;
  overflow-x: scroll;
  gap: 16px;
}

.fixed-width-img {
  width: 400px;
  height: 340px;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.scroll-left {
  left: 0;
}

.scroll-right {
  right: 0;
}

{% endblock style %}

{% block content %}
<!-- 이모티콘 link -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<div style="position: relative;">
  <div class="image-container" id="imageContainer">
    {% for comment in comments %}
      {% for image in comment.images.all %}
        <img src="{{ image.image.url }}" class="fixed-width-img" alt="Comment image">
      {% endfor %}
    {% endfor %}
  </div>
  <button class="scroll-button scroll-left" onclick="scrollImageContainer(-1)"><i class="fas fa-chevron-left"></i></button>
  <button class="scroll-button scroll-right" onclick="scrollImageContainer(1)"><i class="fas fa-chevron-right"></i></button>
</div>

<script>
  const scrollAmount = 410;

  function scrollImageContainer(direction) {
    const imageContainer = document.getElementById('imageContainer');
    imageContainer.scrollLeft += scrollAmount * direction;
  }
</script>

<section class='container' style='max-width: 800px;'>
  <div class='d-flex justify-content-between mt-3'>
    <h3>{{spot.title}}  <span style="color: #FF792A;">{{ average_rating }}</span></h3>
    <div class='d-grid gap-2 d-md-flex justify-content-md-end align-items-center'>
      {% if spot.user == user %}
      <a href="{% url 'spots:update_spot' spot.pk %}" class="btn btn-primary me-2 custom-button">
        <span>수정</span>
      </a>
        <form action="{% url 'spots:delete' spot.pk %}" method="POST" class="d-inline-block">
          {% csrf_token %}
          <input type="submit" value="삭제" class="btn btn-danger custom-button">
        </form>
    
        <div class="d-flex flex-column align-items-center text-center review-write">
          <a href="{% url 'spots:comment_create' spot_pk=spot.pk %}" role="button" class="review-write-link" onclick="event.preventDefault(); writeReview(this);">
            <i class="fas fa-pencil-alt Icon review-write-icon custom-button mn-n2"></i>
            <p class="mb-0 mt-0 review-write-text">리뷰쓰기</p>
          </a>
        </div>
    
        <form action="{% url 'spots:likes' spot.pk %}" method="POST">
          {% csrf_token %}
          <div class="d-flex flex-column align-items-center like-spot">
            <button type="submit" class="btn btn-link p-0 Icon custom-button">
              <i class="fas fa-star like-spot-icon {% if request.user in spot.like_users.all %}active{% endif %}"></i>
            </button>
            <p class="mb-0 like-spot-text {% if request.user in spot.like_users.all %}active{% endif %}">가고싶다</p>
          </div>
        </form>
      {% else %}
      {% endif %}
    </div>
    
  </div>
    <hr>
    <p style="color: #959595;">주소: {{ spot.address }}</p>
    <p style="color: #959595;">전화번호: {{ spot.phone_number }}</p>
    <p style="color: #959595;">가격대: {{ spot.price_range }}</p>
    <p style="color: #959595;">주차: {% if spot.parking %} 가능 {% else %} 불가능 {% endif %}</p>
    <p style="color: #959595;">영업시간: {{ spot.business_hours }}</p>
    <p style="color: #959595;">휴무일: {{ spot.holiday }}</p>
    {% if spot.website %}
      <p style="color: #959595;">웹사이트: <a href="{{ spot.website }}" style="color: black;">여행지 홈페이지로 가기</a></p>
    {% endif %}
    <div id="map" style="width:100%;height:350px;"></div>
    <hr>

    <p style="display: flex; justify-content: space-between; align-items: center;">리뷰 ({{ comment_count }}) 
      <span style="margin-left: auto;">
        전체 ({{ comment_count }}) |
        좋아요: ({{ like_count }}) |
        싫어요: ({{ dislike_count }}) |
        보통: ({{ soso_count }})
      </span>
    </p>


    {% for comment in comments %}
  <div class="row mt-4">
    <div class="col-2">
      <button type="button" style="width: 70px; height: 70px; padding: 0; box-sizing: border-box;" class="btn btn-lg rounded-circle me-2">
        <img class="rounded-circle" style="width: 100%; height: 100%; object-fit: cover; display: block; margin: auto;" 
        src="{% if person.image %}{{ person.image.url }} {% else %} {% static 'not-found-user.png' %}{% endif %}" alt="Profile Image">
      </button>

      {% comment %} <form action="{%url 'spots:comment_likes' spot.pk comment.pk %}" method="POST">
        {% csrf_token %}
        {% if request.user in comment.like_users.all %}
        <input type="submit" value="좋아요 취소">
        {% else %}
        <input type="submit" value="좋아요">
        {% endif %}
      </form> {% endcomment %}
      {% if comment.user == user %}
      <form action="{% url 'spots:comment_delete' spot.pk comment.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="댓글 삭제">
      </form>
      {% endif %}
    </div>
    <div class="col-8">
      <p style="color: #959595;">{{ comment.created_at|date:"Y-m-d" }}</p>
      <p>{{comment.content}}</p>
      {% comment %} {% for image in comment.images.all %}
        <img src="{{ image.image.url }}" alt="Comment image" class="size">
      {% endfor %} {% endcomment %}
    </div>
    <div class="col-2">
      <div class="comment">
        {% if comment.vote == "5.0" %}
          <div class="d-flex flex-column align-items-center">
            <i class="far fa-laugh-squint EmoticonPicker__Icon EmoticonPicker__Icon--Positive"></i>
            <p class="mb-0" style="color: #ff9008;">좋았다</p>
          </div>
        {% elif comment.vote == "3.0" %}
          <div class="d-flex flex-column align-items-center">
            <i class="far fa-meh EmoticonPicker__Icon EmoticonPicker__Icon--Neutral"></i>
            <p class="mb-0" style="color: #ff9008;">괜찮다</p>
          </div>
        {% elif comment.vote == "1.0" %}
          <div class="d-flex flex-column align-items-center">
            <i class="far fa-frown EmoticonPicker__Icon EmoticonPicker__Icon--Negative"></i>
            <p class="mb-0" style="color: #ff9008;">나쁘다</p>
          </div>
        {% endif %}
      </div>
    </div>
</div>
  <hr>
  <form action=""></form>

  {% comment %} print({{spot.latitude}}, {{spot.longitude}})  {% endcomment %}
  <input type="hidden" id="latitude" value="123">
  <input type="hidden" id="longitude" value="123">
  {% endfor %}
    </section>

  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b31017d4e781b285ff64fd6b844340e9"></script>

  <script>
    var lat = {{ spot.latitude }} 
    var lng = {{ spot.longitude }}
    console.log(lat);
    console.log(lng);
    
    function writeReview(link) {
      link.querySelector('.review-write-text').style.color = 'orange';
      link.querySelector('.review-write-icon').style.color = 'orange';
      window.location.href = link.href;
    }
    
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = { 
        center: new kakao.maps.LatLng(lat, lng), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    // 마커가 표시될 위치입니다 
    var markerPosition  = new kakao.maps.LatLng(lat, lng); 

    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        position: markerPosition
    });

    // 마커가 지도 위에 표시되도록 설정합니다
    marker.setMap(map);

    // 아래 코드는 지도 위의 마커를 제거하는 코드입니다
    // marker.setMap(null);    
  </script>
{% endblock content %}
      