{% extends 'base_index.html' %}
{% load static %}
{% block style %}

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 499px;
    background-image: url('/static/headerimg.jpg');
    background-size: cover;
    color: white;
  }

  section {
    margin-top: 30px;
  }

  .contentTitle {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  .listButton {
    color: lightgray;
    text-decoration: underline;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 350px;
    min-height: 236px;
    background-size: cover;
    color: white;
    margin-top: 15px;
  }

  .bestcategory {
    background-image: url('/static/lotte.jpeg');
    background-size: cover;
  }

  .bestReview {
    background-image: url('/static/busan.jpg');
    background-size: cover;
  }

  .bestUser {
    background-image: url('/static/jeju.jpg');
    background-size: cover;
  }

  .card {
    border: none;
    padding: 0px;
  }
  .card-text {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 0px;
  }
  .card_title{
    font-size: 23px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100px; lightgray;
    color: white;
    background-color: #3e3e3e;
    margin-top: 30px;
  }
  .setting {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 350px;
        min-height: 236px;
        background-size: cover;
        color: white;
        margin-top: 15px;
   }
   
   .search {
    background-color: white;
    border-radius: 50px;
    border-color: orange;
    border-style: solid;
    width: 400px;
    height: 50px;

  }

  .search-label {
      color: gray;
  }

  .search-input__text {
      border-style: none;
      outline: none;
      height: 100%;
      border-radius: 50px;
  }

  .search-input__text::placeholder {
    color: lightgray;
    font-size: 20px;
  }

  .search-input__submit {
      border-radius: 50px;
      border-style: none;
      background-color: orange;
      color: white;
      width: 100px;
      height: 100%;
  }

  .search-label__icon {
    font-size: 24px;
  }
.spot-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.city-button {
  border: none;
  background-color: white;
}
{% endblock style %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

  <header>
    <div class="text-center" >
      <p style="margin-bottom: 0px; font-size: 35px">솔직한 리뷰, 믿을 수 있는 평점!</p>
      <h1 style="margin-bottom: 30px;">망고 플레인</h1 >
      <form action="{% url 'spots:search' %}" class="search" style="display: flex; align-items: center; width: 742px;">
          <i class="fas fa-search search-label__icon ms-5" style="color: #d4d4d4;"></i>
        </label>

        <input class="search-input__text ms-3" placeholder="여행지" name="keyword" id="keyword" style="flex: 1;">
        <input type="hidden" name="page" value=1>
        <input class="search-input__submit" type="submit" value="검색" style="width: 100px;">
      </form>
    </div>
  </header>
  
  <section class="mb-5">
    <div class="container text-center">
      <div class="contentTitle row title">
        <h2 style="color: #FF792A;">믿고 보는 여행지 리스트</h2>
        <a class="listButton" href="#"><span>리스트 더보기</span></a>

      </div>
      <div class="contentBox row">
        <div class="col">
        <form action="{% url 'spots:city' %}" method='GET'>
          <button id="city" name="city" value="서울" style="border: none; background-color: white;" class="city-button">
            <div class="bestcategory content">
              <p>SEOUL</p>
            </div>
          </button>
        </form>
        </div>

        <div class="col">
        <form action="{% url 'spots:city' %}" method='GET'>
          <button id="city" name="city" value="부산" style="border: none; background-color: white;" class="city-button">
            <div class="bestReview content">
              <p>BUSAN</p>
            </div>
          </button>
        </form>
        </div>

        <div class="col">
        <form action="{% url 'spots:city' %}" method='GET'>
          <button id="city" name="city" value="제주" style="border: none; background-color: white;" class="city-button">
            <div class="bestUser content">
              <p>JEJU</p>
            </div>
          </button>
        </form>
        </div>
        
      </div>
    </div>
  </section>
  <hr>
  <!--카드-->
  <div class="container text-center mt-5">
    <h3 style="color: #FF792A; margin-bottom: 30px;">에디터가 선정한 여행지</h3>
    <div class="row g-4 col-12">
        {% for spot, average_rating in spots_with_ratings %}
            <div class="col-3">
                <a href="{% url 'spots:detail' spot.pk %}">
                    <div class="card">
                      <div class="spot-image-container">
                        {% if spot.image %}
                            <img src="{{ spot.image.url }}" class="card-img-top rounded-2 spot-image" alt="image">
                        {% else %}
                            <img src="{% static 'No-Image-Placeholder.svg.png' %}" class="card-img-top spot-image" alt="image">
                        {% endif %}
                      </div>
                        <div class="card-body p-0">
                            <p>{{spot.title}} <span style="color: #FF792A;">{{ average_rating }}</span></p>
                        </div>
                    </div>
                </a>
            </div>

        {% empty %}
            <p>아직 등록된 여행지가 없어요.</p>
        {% endfor %}
    </div>
  </div>
  <footer>
    <p>Copyright &copy; 2023 
      <a href="https://example.com/">Example Company</a>. 
      All rights reserved. Created by 서현석, 정윤원, 박태양, 김초원.
    </p>
  </footer>
{% endblock content %}