{% extends 'base.html' %}

{% block style %}
  a {
    text-decoration: none;
  }
{% endblock style %}

{% block content %}


<form action="{% url 'spots:search' %}">
  <label for="keyword">검색어</label>
  <input type="text" name="keyword" id="keyword">
  <input type="submit" value="검색">
</form>

<h1>{{ keyword }}의 검색결과</h1>
  <div class="d-inline-flex row w-50 justify-content-center ">
    {% for spot in spots %}
      <div class="col-md-6" >
        <a href="{% url 'spots:detail' spot.pk %}">
          <div class="card border-white">
            {% if spot.image %}
            <img src="{{spot.image.url}}" alt="{{spot.title}}">
            {% else %}
            {% comment %} <img src="{% static 'No-Image-Placeholder.svg.png' %}" class="card-img-top" alt="image"> {% endcomment %}
            {% endif %}
            <div class="card-body">
              <p class="card=text">{{spot.title}}</p>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock content %}